[class*=js-] {
    cursor: pointer;
}
#fly-in-menu,
#insta-menu{
  background-color: #333;
  color: #ffd600;
}
#fly-in-menu .left-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#fly-in-menu .contact{
  padding: 10px 10px 10px 40px;
}
#fly-in-menu .slideOut{
  padding: 10px;
  font-size: 3rem;
  cursor: pointer;
}

#insta-menu .slideOut{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 3rem;
  cursor: pointer;
}
#fly-in-menu ul{
  list-style: none;
  margin:0;
}

#insta-menu ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin:0;
}
