[class*=js-] {
    cursor: pointer;
}
#fly-in-menu,
#insta-menu{
  background-color: #ffd600;
}
#fly-in-menu .slideOut{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 3rem;
  cursor: pointer;
}

#insta-menu .slideOut{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 3rem;
  cursor: pointer;
}
#fly-in-menu ul,
#insta-menu ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin:0;
}
#fly-in-menu ul li,
#insta-menu ul li{
  color: #333;
}
