<nav canvas class="navbar navbar-expand-lg navbar-hp hpv2">
	<div class="navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link js-toggle-left-slidebar"><i class="fas fa-bars"></i></a>
			</li>
			<li class="nav-item">
				<a href="https://www.toasttab.com/banzo-sherman-ave/v2/online-order#!/" target="_blank">
					<button type="button" class="btn-primary btn ml-3 blitz">Order Online</button>
				</a>
			</li>
		</ul>
		<span class="navbar-text">
			<img src="../images/banzo-header-logo.png" alt="Banzo" width="100%">
		</span>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="https://instagram.com/banzomadison" class="nav-link" target="_blank"><i class="fab fa-instagram"></i></a>
			</li>
			<li class="nav-item">
				<a href="https://www.facebook.com/banzomadison" class="nav-link" target="_blank"><i class="fab fa-facebook-f"></i></a>
			</li>
			<!-- <li class="nav-item">
				<a class="nav-link js-toggle-right-slidebar"><i class="fab fa-instagram"></i> <i class="fas fa-ellipsis-v"></i></a>
			</li> -->
		</ul>
	</div>
</nav>
