<nav canvas class="navbar navbar-expand-lg navbar-hp">
	<div class="navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link js-toggle-left-slidebar"><i class="fas fa-bars"></i> Menu</a>
			</li>
		</ul>
		<span class="navbar-text">
			Open 7 days 11am - 9pm | <i class="fas fa-phone"></i> <tel>(608) 441-2002</tel>
		</span>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link js-toggle-right-slidebar"><i class="fab fa-instagram"></i> <i class="fas fa-ellipsis-v"></i></a>
			</li>
		</ul>
	</div>
</nav>
