

<div id="navbar" class="row">
	<div class="mr-auto p-2 fly-in"><i class="fa fa-map-marker" aria-hidden="true"></i> Locations</div>
	<div class="p-2"><a href="https://www.toasttab.com/banzo-sherman-ave/v2/online-order#!/" target="_blank">Order Online</a></div>
	<div class="p-2"><a href="#contact" class="scroll">Contact Us</a></div>
	<div class="p-2"><a href="#menu" class="scroll">Menu</a></div>
	<div class="p-2"><a href="#catering" class="scroll">Catering</a></div>
</div>
<div class="nav-bg fly-in">
	<div class="nav-container rounded d-flex justify-content-center">
		<div class="hp-pages">
			<li>
				<a href="/banzo/"><img src="/images/banzo-01.png" width="100%"></a>
			</li>
			<li>
				<a href="/food-carts/"><img src="/images/cart-01.png" width="100%"></a>
			</li>
		</div>
	</div>
</div>
