<div id="fly-in-menu" off-canvas="slidebar-1 left shift">
  <div class="left-container">
    <div class="slideOut js-close-left-slidebar"><i class="far fa-times-circle"></i></div>
    <ul>
      <a href="#about"><li>About Us</li></a>
      <a href="#contact"><li>Contact Us</li></a>
      <a href="#menu"><li>Restaurant Menu</li></a>
      <a href="#catering"><li>Catering Menu</li></a>
      <a href="#map"><li>Delivery Map</li></a>
    </ul>
    <div class="contact">
      <p>Tue-Sun, 11a-9p</p>
      <p><i class="fas fa-phone"></i> <tel>(608) 441-2002</tel></p>
    </div>
  </div>
</div>
