<html>

	{% include head.html %}

	<body>

	{% include fixedNav.html %}

	<a href="javascript:void(0)" target="_blank">
		<div id="orderNow"></div>
	</a>
	
	<div canvas="container" class="page-content">
		<div class="wrap">
			{{ content }}
			{% include footer.html %}
		</div>
	</div>

	<!-- Left slide in menu -->
	{% include slide-in-nav.html %}

	<!-- Right instagram feed -->
	{% include insta-feed.html %}

	<!-- privacy policy modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Privacy Policy</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

				{% include privacy-policy.html %}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	</body>
</html>
