<html>

	{% include head.html %}

	<body>

	{% include fixedNav.html %}
	<div canvas="container" class="page-content">
		<div class="wrap">
			{{ content }}
		</div>
		{% include footer.html %}
	</div>

	<!-- Left slide in menu -->
	<div id="fly-in-menu" off-canvas="slidebar-1 left shift">
		<div class="slideOut js-close-left-slidebar"><i class="far fa-times-circle"></i></div>
		<ul class="align-self-center">
			<li>Order Online</li>
			<li>About Us</li>
			<li>Delivery Map</li>
			<li><a href="#menu">Restaurant Menu</a></li>
			<li>Catering Menu</li>
			<li>Contact Us</li>
		</ul>
	</div>
	<!-- Right instagram feed -->
	<div id="insta-menu" off-canvas="slidebar-2 right shift">
		<div class="slideOut js-close-right-slidebar"><i class="far fa-times-circle"></i></div>
		<ul class="align-self-center">
			<li>Instagram Feed</li>
		</ul>
	</div>

	<!-- privacy policy modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Privacy Policy</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

				{% include privacy-policy.html %}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	</body>
</html>
